html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  position: relative;
}
nav{
  margin-bottom: 25px;
}
#calendar {
  height: 99%;
  box-sizing: border-box;
  padding: 0.5%;
}
.calendar__day{
  display: inline-block;
  vertical-align: bottom;
  width: calc(97% / 7);
  height: calc(98% / 5);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  margin-top: 24px;
}
span{
  display: block;
}
.calendar__day.horizontalGutter:hover,.calendar__day:hover{
  font-size: 1.23rem;
  transition: 0.32132132121849492132322311321484s;
  cursor: pointer;
}
.horizontalGutter {
  margin-right: 0.5%;
}
.Calendar-input{
  width: 65%;
}
.verticalGutter {
  margin-top: 0.5%;
}
#title{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid #1a1a2e 8px;
}
.navbar{
  width: 100%;
  height: 150px;
}
#title{
  margin-top: 8px;
  height: 100%;
}
.title-img{
  margin-left: 25px;
}